<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/defaultTemplate}">
<body>
    <div layout:fragment="content">
        <h1 align="center">Need Help?</h1>
        <br>
        <br>
        <h2 align="center">Feel free to reach out via Email or Call us!</h2>
        <h3 align="center">Email: worseamazon@support.com</h3>
        <h3 align="center">Phone Number: 206-462-8212</h3>
        <h4 align="center">Our hours are 6am-12am MST</h4>
    </div>
</body>
</html>